/models  içindeki dosyalarda değişiklilk yapma
/constants içindeki dosyalarda değişiklilk yapma
/storage içindeki dosyalarda değişiklilk yapma
/utils içindeki dosyalarda değişiklilk yapma
/services içindeki dosyalarda değişiklilk yapma
